@model DatabaseASP.NETWeb.Models.Student

@{
    ViewData["Title"] = "Student Details";
}

<div class="container mt-5">
    <div class="card shadow-lg">
        <div class="card-header bg-primary text-white">
            <h3 class="mb-0">Student Details</h3>
        </div>
        <div class="card-body fs-5">
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Id)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Id)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Age)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Age)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Email)
                </dd>
            </dl>
        </div>
        <div class="card-footer d-flex justify-content-start gap-2">
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
            <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
        </div>
    </div>
</div>
